.related-widget-wrapper {
    float: none!important;
    overflow: hidden;
}

.dynamic-array .dynamic-array-item {
    margin-left: 1px;
    display: flex;
    align-items: center;
}

.dynamic-array .remove-array-item {
    height: 15px;
    display: inline-block;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.dynamic-array .add-array-item {
    cursor: pointer;
}

.key-value-field .key-value-item {
    margin-left: 1px;
}

.key-value-field .remove-key-value-item {
    height: 12px;
    display: inline-block;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.key-value-field .add-key-value-item {
    cursor: pointer;
}

.nested-form {
    display: inline-table;
    margin-bottom: 6px;
}

.nested-form > input {
    margin: 4px 0 4px 0!important;
    display: inline-flex;
    align-items: center;
}

.nested-form > label.nested-form-label {
    line-height: normal;
    padding: 0;
    margin: 2px 0 2px 0!important;
    width: 25%;
    max-width: 150px;
    min-width: 100px;
    display: inline-flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .nested-form > label.nested-form-label {
        min-height: 35px;
    }
}
